*, *:before, *:after {
    box-sizing: border-box;
}

li a {
    text-decoration: none;
    color: #75d119;
    transition: .5s ease;
}
li a:hover {
    color: #66cc00;
}

.form {
    background: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
    .tab-group li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: #e0dedc;
        color: #000000;
        font-size: 20px;
        float: left;
        width: 100%;
        text-align: center;
        transition: .5s ease;
    }

h1 {
    text-align: center;
    color: #000000;
    font-weight: 300;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}
    input:focus, textarea:focus {
        outline: 0;
        border-color: #75d119;
    }
    textarea {
        border: 2px solid #d9d7d5;
        resize: vertical;
    }

.enable {
    color: #777777;
    font-size:1vw
}

.checkbox {
    position: relative;
    margin-bottom: 40px;
    font-size: 1vw;
    text-align: center;
}
    .checkbox > input {
        height: 18px !important;
        width: 15px !important;
        display: inline !important;
    }

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button {
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #75d119;
    color: #000000;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
    .button:hover, .button:focus {
        background: #66cc00;
    }
    .button-block {
        display: block;
        width: 100%;
    }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .notif {
       font-size: 6vw;
   }
}
/*END OF WRAPPER*/

