.main {
    margin: 40px;
    background-image: url("https://buidln.clipdealer.com/000/122/811/previews/8--122811-Animation%20of%20swirl%20flowers%20flying%20on%20white%20background%2C%20alpha%20channel%20included.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f1f1f1;
}

/*START OF WRAPPER*/
.wrapper {
    box-sizing: border-box;
    margin-top: 5%;
}

.box1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 34px;
    width: 50%;
    height: 12%;
    margin-left: 25%;
    margin-top: 1%;
}
        .imgcontainer {
            text-align: center;
            margin: -16px;
            position: relative;
        }
        img.avatar {
            align-content: center;
            width: 7%;
            border-radius: 50%;
        }

.box2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 32px;
    width: 57%;
    height: 39%;
    margin-left: 21%;
    margin-top: 4%;
}
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .box1 {
        margin-left: 11%;
    }
    .h2{
        font-size: smaller;
        margin: -3px
    }
    .imgcontainer {
        margin: -21px;
    }

    .box2 {
        margin-left: 8%;
    }
}
/*END OF WRAPPER*/