.wrapper {
    display: grid;
    grid-template-columns: 30px 40px 30px;
    grid-template-rows: 30% 70%;
    background-color: purple;
}
    .box1 {
        background-color: yellow;
    }
    .box2 {
        background-color: dodgerblue;
    }