body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
            "header"
            "navbar"
            "main"
            "footer";
    grid-template-rows: 0.15fr 0.10fr 3fr 0.15fr;
    height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
    margin: 0;
    background-color: red;
}
    h1 {
        text-align: center;
        color: #000000;
        font-weight: 300;
        margin: 0;
    }

/*START OF NAVIGATION BAR*/
.navbar {
    grid-area: navbar;
    background-color: #ba3d7a;
}
    .navbar a {
        float: left;
        padding: 12px 10px;
        color: white;
        text-decoration: none;
    }
    .navbar a:hover {
        background-color: #a7376d;
    }
    .navbar a.active:hover {
        background-color: #862d58 !important;
    }
    .active {
        background-color: #862d58;
    }
    @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
        }
    }
/* END OF NAVIGATION BAR*/

.main{
    grid-area: main;
    margin: 40px;
    background-size: cover;
    background: url("https://buidln.clipdealer.com/000/122/811/previews/8--122811-Animation%20of%20swirl%20flowers%20flying%20on%20white%20background%2C%20alpha%20channel%20included.jpg") no-repeat fixed center center;
}

/* START OF FOOTER STUFF*/
.footer {
    grid-area: footer;
    background-color: blue;
    text-align: center;
}
    .fa {
        display: initial !important;
        font-size: initial !important;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
        padding: 10px;
        width: 30px;
        text-decoration: none;
        margin: -15px 0;
        border-radius: 50%;
    }
    .fa-twitter {
        background: #55ACEE;
        color: white;
        padding: 10px;
        width: 30px;
        text-decoration: none;
        margin: -15px 0;
        border-radius: 50%;
    }
    .fa-linkedin {
        background: #007bb5;
        color: white;
        padding: 10px;
        width: 30px;
        text-decoration: none;
        margin: -15px 0;
        border-radius: 50%;
    }
/*END OF FOOTER STUFF*/