.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    background-color: purple;
    justify-content: center;
    align-content: center;
}
    .box1 {
        position: relative;
        background-color: #f2f2f2;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 8;
        text-align: center;
        border: 1px solid black
    }
    .box2 {
        position: relative;
        background-color: #f2f2f2;
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 8;
        text-align: center;
        border: 1px solid black
    }

hr {
    border: 1px solid black;
    margin-bottom: 25px;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
}
