.form {
    background: #f2f2f2;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
    h1 {
        text-align: center;
        color: #000000;
        font-weight: 300;
        margin: 0;
    }

.picture {
    text-align: center;
}

.comment {
    width: 100%;
    overflow: auto;
}
    .pseudo {
        float: left;
        width: 12%;
    }
    p {
        margin: 0;
    }
    .comsg {
        overflow: auto;
    }
    .fa-heart-o{
        float: right;
        border: none;
        cursor: pointer;
    }
    .fa-heart {
        float: right;
        border: none;
        cursor: pointer;
    }

.visi {
    display: initial;
}

.none {
    display: none;
}

@media screen and (max-width: 600px) {

}