/**, *:before, *:after {*/
/*    box-sizing: border-box;*/
/*}*/

/* DISPLAY GRID */
.contain {
    display: grid;
    grid-template-columns: 650px 650px 650px;
    grid-column-gap: 100px;
    grid-template-rows: auto;
    grid-template-areas:
            ". choose ."
            "stickers webcam previous";
    justify-content: center;
}
    .choose {
        grid-area: choose;
        justify-self: center;
        align-self: center;
    }
    .webcam {
        grid-area: webcam;
        justify-self: center;
        align-self: center;
    }
    .stickers {
        grid-area: stickers;
        justify-self: center;
        align-self: center;
    }
    .previous {
        grid-area: previous;
        justify-self: center;
        align-self: center;
    }
/* END OF GRID DISPLAYING*/

/* IMAGES */
#img {
    width: 600px;
    height: 450px;
}
    .visi {
        display: block;
    }  .none {
        display: none !important;
    }
.oldpics {
    width: 275px;
    height: 225px;
}
#video {
    width: 600px;
    height: 450px;
}
#videos {
    width: 600px;
    height: 450px;
}
#red {
    width: 600px;
    height: 450px;
}

/* ICONS */
.fa.yo{
    padding: 80px !important;
    font-size: 80px !important;
    cursor: pointer;
}
    .fa.ya{
        padding: 200px !important;
        font-size: 100px !important;
        cursor: pointer;
    }
    #up {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        left: 293px;
    }
    #down {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        left: 293px;
    }
    #left {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        top: 242px;
        left: -27px;
    }
    #right {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        top: -236px;
        left: 610px;
    }
    #stickers {
        position: relative;
        width: 200px;
        height: 200px;
    }
    #up2 {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        left: 293px;
    }
    #down2 {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        left: 293px;
    }
    #left2 {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        top: 242px;
        left: -27px;
    }
    #right2 {
        cursor: pointer;
        font-size: 25px !important;
        position: relative;
        /*top: 208px;*/
        top: -234px !important;
        left: 610px;
    }

/* FORM */
.form {
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    max-height: 500px;
    overflow-y: scroll;
}
    .tab-group p {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: #e0dedc;
        color: #000000;
        font-size: 20px;
        text-align: center;
        transition: .5s ease;
    }
    #title {
        font-family: Arial, Helvetica, sans-serif;
        width : 98%;
        text-align: center;
    }
    #titleUp {
        font-family: Arial, Helvetica, sans-serif;
        width : 98%;
        text-align: center;
    }

/* BUTTONS */
.butt {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0 -30px 0;
}
    .button {
        cursor: pointer;
        border: solid 1px #ffffff;
        outline: none;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: #c794cc;
        color: #000000;
        transition: all 0.5s ease;
    }
    .button:hover, .button:focus {
        background: #b571bc;
    }
    .button-block {
        display: block;
        width: 100%;
    }
    .xa {
        background: #21d77e;
    } .xa:hover, .xa:focus{
              background: #34c47d;
          }
    .xo {
        background: #ffff00 ;
    } .xo:hover, .xo:focus {
              background: #ffea00;
          }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .contain {
        display: inline;
        align-self: center;
    }
    .form {
        width: 225px;
        align-self: center;
    }
    .fa.ya {
        padding: 92px !important;
        font-size: 50px !important;
        cursor: pointer;
    }
    .fa.yo {
        padding: 33px !important;
        font-size: 50px !important;
        cursor: pointer;
    }
    .butt {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 20px 0 -30px 0;
    }
    #uploadbut {
        margin-left: 25%;
    }
    #video {
        width: 240px !important;
        height: 200px !important;
    }
    #img {
        width: 240px !important;
        height: 200px !important;
    }
    #red {
        width: 240px !important;
        height: 200px !important;
    }
    .fa-arrow-up {
       display: none !important;
    }
    .fa-arrow-down {
        display: none !important;
    }
    .fa-arrow-left {
        display: none !important;
    }
    .fa-arrow-right {
        display: none !important;
    }

    #stickers {
        position: relative;
        width: 100px;
        height: 100px;
        top: -450px !important;
        left: 120px !important;
    }
    .relative {
        position: relative;
    }
}