.form {
    background: #f2f2f2;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.picture {
    text-align: center;
}

.comment {
    width: 100%;
    overflow: auto;
}
    .pseudo {
        float: left;
        width: 15%;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    p {
        margin: 0;
    }
    .comsg {
        overflow: auto;
    }
    .cocoment {
        overflow-y: scroll;
    }
    .fa-heart-o{
        float: right;
        border: none;
        cursor: pointer;
        background-color: #f2f2f2;
    }
    .fa-heart {
        float: right;
        border: none;
        cursor: pointer;
        background-color: #f2f2f2;
    }
    textarea {
        height: 38px;
        width: 597px;
        resize: none;
        font-family: Arial, Helvetica, sans-serif;
    }

.visi {
    display: initial;
}

.none {
    display: none;
}

.button {
    margin-left: 40%;
}

.pagination {
    width: 100vw;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.pagination > a {
    font-size: 16px;
    margin: 0.2rem;
}


@media screen and (max-width: 600px) {
    .form {
        width: 225px;
        align-self: center;
    }
    .gallery {
        width: 215px;
        height: 205px;
    }
    .pseudo {
        width: 40%;
    }
    textarea {
        width: 225px;
    }
    .button {
        margin-left: 31%;
    }
}